
$border-rad: 2rem;
$clr-btn: #15DEA5;

.test5 {$self:&;
    border-radius: $border-rad;
    background-color: $clr-btn;
    position: relative;
    z-index: 1;
    opacity: 1;
    
    /*&:hover {
      cursor: pointer;
        &::after {
            opacity: 1;
        }
    }*/
    
    &::after { 
      content: '';
      width: 100%;
      height: 100%;
        position: absolute;
        top: 0;
        
        
        left: 0;
        background-color: red;
        opacity: 0;
        z-index: -1;
        transition: opacity 2250ms;
    }
}
